/*******************************/
/********* frame.css ***********/
/*******************************/
/*** itemcloud.org/downloads ***/

body {
	margin: 0px;
	background-color: #73738c;
	font-family: helvetica;
	cursor: default;
}

hr {
	margin: 4px 0px;
	padding: 0px;
	border: 1px solid #EEE;
}

a { 
	color: white;
	cursor: pointer;
}

.banner, .footer {
	background-color: #333;
	width: 1240px;
	margin: 0px auto;
}

.banner {
    background: repeating-linear-gradient(
			     -55deg,
			     #222,
			     #222 10px,
			     #333 10px,
			     #333 20px
			 );
}

.banner_inner, .footer_inner {
	width: 1200px;
	margin: 0px auto;
	color: #eee;
	font-size: 19px;
}

.footer_icon {
	width: 140px;
	vertical-align:middle;
}

.user_links { 
	float: right;
	margin: 14px 6px 0px 0px;
	font-size: 14px;
}

.section {
    width: 1240px;
    margin: 0px auto;
    background-color: #222;
    color: #73738c;
}

.section_inner {
    display: inline-block;
    width: 1240px;
    margin: 0px auto; 
    text-align: center; 
    color: #ccc;
    font-size: 1em;
}

.section_inner a {
	color: #FFF;
}
.footer_inner {
	padding: 30px 0px;
}

.alertbox-show a {
	color: #FFF;
}
.alertbox-show {
    display: block;
    width: 800px;
    background-color: #444;
    padding: 24px 0px;
    margin-bottom: 12px
}
.alertbox-hide { display: none; }

.quote {
	font-size: 2em;
}

.logo {
	float: left;
	margin: 4px;
	padding-top: 2px;
	font-size: 1.4em;
	cursor: pointer;
}
.clear {
	clear: both;
}

.file_text {
    margin: 14px 0px 0px 0px;
    font-weight: bold;
}

.file_button {
    display: inline-block;
    margin: 8px;
    padding: 8px;
    background-color: #333;
    border-radius: 14px;
    color: #FFF;
}

textarea.form {
    resize: none;
    overflow: hidden;
    min-height: 34px;
    max-height: 340px;
}
input.form, textarea.form {
	width: 300px;
	height: 34px;
	font-size: 22px;
	padding: 4px;
}
input.wider, textarea.form {
    width: 520px;
}

input.form_button {
	height: 34px;
	margin-top: 4px;
	padding: 6px 10px;
    border: none;
	cursor: pointer;
	background-color: #FFF;
	color: #111;
	font-weight: bold;
}

input.form_button:hover {
	color: #666;
}

input.item_tools {
	display: inline-block;
	border: none;
	background-color: #DCDCDC;
	border-radius: 14px;
	padding: 6px 10px;
	margin-left: 4px;
	color: #fff;
	font-size: 14px;
	font-style: none;
	font-weight: bold;
	font-family: arial;
	cursor: pointer;
	margin-bottom: 8px;
}

input.item_tools_inactive {
	cursor: pointer;
    display: inline-block;
    margin: 8px;
    padding: 8px;
    background-color: #FFF;
    border-width: 0px;
    color: #CCC;
}
input.item_tools_inactive:hover {
	text-decoration: underline;
}

.splash-page { 
	padding: 20px 0px;
	min-height: 540px;
}

.item-section {
     width: 820px;
     margin: 0px auto;
     padding: 8px;    
}

.item-page {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 8px;
    padding: 8px 14px;
    text-align: left;   
    background-color: #fff;
    box-sizing: border-box; 
    border: 1px solid #999;
    border-radius: 8px;
    color: #333;
}

.item-page-inner {
    padding: 8px 14px;
}

.item-box {
	width: 360px;
	min-height:120px;
	display: inline-block;
	overflow: hidden;
	padding: 8px 14px;
	margin: 4px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 8px;
	color: #333;
}

.item-box .item-nodes .item-link .image-cell {
	max-height: 240px;
	overflow: hidden;
}

.item-nodes {
	min-height: 240px;
}

.item-title {
	font-size: 2em;
	line-height: 1em; 
	color: #333;
	cursor: pointer;
}

.item-info {
	margin: 8px 0px;
}

.item-page .item-info {
	min-height: 60px;
}

.item-tools {
	display: inline-block;
	background-color: #DCDCDC;
	border-radius: 14px;
	padding: 6px 10px;
	margin-left: 4px;
	color: #fff;
	font-size: 14px;
	font-style: none;
	font-weight: bold;
	font-family: arial;
	cursor: pointer;
	margin-bottom: 8px;
}

.item-tools:hover {
	background-color: #333;
}

.item-user {
	float: left; 
	width: 30px;
	height: 30px; 
	margin-right: 4px;
	background-color: #ccc;
	background-image: url(./img/icon/user-default.png);
	background-size: 130%;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
 }
.item-date {
	color: #aaa;
	font-size: 11px;
}

.item-link img {
	cursor: pointer;
}
.item-page a {
	color: #73738c;
	font-size: 12px;
}
.item-link a {
	color: #73738c;
	font-size: 12px;
}
.item-link a:hover {
	color: #333;
}